<div ng-include="'views/navbar.html'"></div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading c_deepPurple300">
                    <h3 class="panel-title">All users</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="http://lorempixel.com/56/56/people/2" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">User 1</h4>

                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="http://lorempixel.com/56/56/people/5" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">User 2</h4>

                                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="http://lorempixel.com/56/56/people/11" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">User 3</h4>

                                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </div>
                    <br>
                    <div class="btn btn-raised c_deepPurple300">See all</div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel">
                <div class="panel-heading c_deepPurple300">
                    <h3 class="panel-title">All travels</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>User</th>
                                <th>nºJoins</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Greece</td>
                                <td>Portugal</td>
                                <td>User1</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Paris</td>
                                <td>Roma</td>
                                <td>User2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Madrid</td>
                                <td>Dublin</td>
                                <td>User1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading c_deepPurple300">
                    <h3 class="panel-title">Actions</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>
